@media screen and (min-width: 600px) {

    header h1 {
        font-size: 2rem;
    }

    .mainLogo {
        max-width: 100px;
    }

    #menu {
        display: none;
    }

    .navigation ul {  
        display: flex;        
        max-width: 50%;
        width: 100%;
        margin: 0 auto;         
    }

    .navigation li {
        display: block;        
        flex: 1 1 100%;
    }

    .navigation a {
        text-align: center;
    }


    /*
     * Main content sections styling
     */

    main .mainContent {
        display: grid;
        grid-template-columns:  1fr 1fr 1fr;
        gap: 1rem;
        max-width: 80%
    }

    main h2,
    .info {
        grid-column: 1 / 4;
    }

    .discover {
        display: grid;
        grid-template-columns:  1fr 1fr 1fr;
        max-width: 80%;
    }

    .discover section {
        grid-column: 2 / 6;
        max-width: 600px;
    }

    .discover aside {
        grid-column: 1 / 2;
        grid-row: 1;
        /* background-color: var(--accent2); */
        /* color: var(--accent3); */
        padding: 1rem;
        margin: 1rem;
    }
        
    .discover img:hover {
        transform: scale(0.95);
        opacity: 0.7;
        background-color: var(--main-color);
    }
}